input {
    margin-bottom: 30px;
}

form {
    text-align: center;
}

button {
}

.form-group {
    align-content: center;
}

ul {
    align-content: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

.form-control {
    text-align: center;
}

.dropdown {
    margin-bottom:60px;
    text-align: center;
}

.dropdown-menu {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}